.titulo{
  text-align: center;
  color: white;
}

.card{
  width: 20rem;
  height: 20rem;
  margin-left: 24%;
}

.mb-3{
  width: 50%;
}

.newHeroe{
  margin-left: 25%;
}

.title{
  text-align: center;
  color: white;
}

.form-label{
  color: white;
}

.btn{
  margin-left: 45%;
}

